* {
    margin: 0;
    padding: 0;
}
.logo img {
    height: 50px;
    width: 50px;
  }
  .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Palanquin', sans-serif;

}
.menu > li:hover{
    text-decoration: underline;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu > li a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Set the text color to white */
}


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}



.navbar {
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

.logo {
  text-align: start;
  width: 200px;
}

.burger-menu {
  display: none;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-rows: 100px, 1fr;
  grid-gap: 10px;
  padding: 0;
}



.navbar li a {
  margin: 0 10px;
  text-decoration: none; 
}
.Home {
  background: url(img/img/Untitled\ design\ \(2\).png) no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 65vh;
  padding: 100px;
  z-index: -1;
 }
 
 .Home-text {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
  text-align: start;
 }
 
 .button-59 {
  display: inline-block;
  background-color: transparent;
  color: rgb(246, 246, 246);
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
 }
 .button-59:hover{
  transform: scale(1.1);
 }
.FAQ {
  background: url(img/img/IMG.jpg); 
  height: 120vh;
}
.FAQ h1{
  color: white;
  display: flex;
  justify-content: center;
}

.Q div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  
}
.faq .answer {
  display: none;
}

.faq.active .answer {
  display: block;
}
@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .Home{
      padding: 50px;
    }
    .Home-text{
      font-size: 12px;
    }
  }